@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    background-image: url('./images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 325px;
}

.logos{
    background: hsl(228, 56%, 26%);
    padding: 40px;
    width: 100%;
    height: 200px;
    border-radius: 10px 100px 10px 10px;
    margin-bottom: 15px;
}

.logos__logo{
    margin-bottom: 25px;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175px;
    height: 70px;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(229, 57%, 11%);
    padding: 12px;
    height: 50px;
    border-radius: 10px;
}

.info{
    background: hsl(228, 56%, 26%);
    padding: 35px;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.info__p{
    color: hsl(229, 7%, 55%);
    font-size: 400;
    margin-bottom: 20px;
}

.info__p span{
    font-weight: 700;
    color: hsl(243, 100%, 93%);
}

.bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    background: hsl(229, 57%, 11%);
    border-radius: 10px;
}

.bar__progress{
    width: 80%;
    height: 14px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
    margin-left: 3px;
}

.point{
    position:relative;
    width: 11px;
    height: 11px;
    background-color: #FFF;
    border-radius: 50%;
    left: 191px;
    top: 1px;
}

.gb{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1.1px;
    font-weight: 700;
    margin-top: 10px;
}

.left-gb{
    background: #FFF;
    width: 175px;
    height: 65px;
    text-align: center;
    border-radius: 10px;
    margin-left: 37px;
}

.left-gb span{
    color: hsl(229, 57%, 11%);
    font-size: 38px;
    font-weight: 700;
    margin-right: 10px;
}

.left-gb p{
    padding-top: 10px;
    color: hsl(229, 7%, 55%);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}


.attribution { color: white; font-size: 11px; text-align: center; margin-top: 25px; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen  and (min-width: 1080px){
    body{
        background-image: url('./images/bg-desktop.png');
        background-color: hsl(229, 57%, 11%);
        background-size:inherit;
        background-position: bottom;
    }
    .container{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 65%;
    }
    .logos{
        width: 350px;
        margin-right: 35px;
    }
    .info{
        width: 550px;
        padding: 35px 45px 35px;
    }
    .bar__progress{
        width: 75%;
    }
    .point{
        position:relative;
        left: 332px;
        top: 1px;
    }
    .left-gb{
        position: relative;
        top: -155px;
        left: 247px;
    }
    .left-gb::after{
        content:'';
        position: absolute;
        right: 0;
        width: 0;
        height: 0;
        border-top: solid 0px transparent;
        border-right: solid 30px #fff;
        border-bottom: solid 30px transparent;
    }
}